<div *ngIf="recentApps$ | async as recentApps" id="appsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li *ngFor="let app of recentApps; index as i" data-target="#appsCarousel" data-slide-to="i"
            [class.active]="i === 0">
        </li>
    </ol>
    <div class="carousel-inner">
        <div *ngFor="let app of recentApps; index as i" class="carousel-item" [class.active]="i == 0">
            <a class="d-block" style="height: 700px;" routerLink="/apps/{{app.id}}">
                <img *ngIf="app.imagePath" [src]="app.imagePath" class="d-block mx-auto mh-100 mw-100" [alt]="app.name">
            </a>
            <div class="carousel-caption">
                <h2>{{app.name}}</h2>
                <p>{{app.shortDescription}}</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#appsCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#appsCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>